:root { 
--indigo_900_7f:#19345e7f; 
--gray_50_01:#f5f7fb; 
--pink_900:#7d2727; 
--red_200:#e0b3a8; 
--indigo_200_01:#83a1db; 
--indigo_200_02:#9ab0d9; 
--green_A700:#00a84c; 
--yellow_A400:#fff000; 
--deep_orange_300:#ff8762; 
--light_blue_A700:#0082fd; 
--blue_gray_700:#42406f; 
--blue_gray_900:#1d2a35; 
--indigo_800_01:#2b388f; 
--deep_orange_100:#e0c9c0; 
--gray_600:#737373; 
--blue_900:#1d3bb3; 
--gray_400:#bfbfbf; 
--blue_gray_100:#d9d9d9; 
--gray_800:#404040; 
--gray_200:#f0f0ef; 
--blue_50:#e6ecff; 
--indigo_400:#5d77d9; 
--indigo_200:#9eaff2; 
--indigo_600_01:#304bb0; 
--gray_400_01:#b3b3b3; 
--red_200_01:#f7a9a8; 
--white_A700:#ffffff; 
--indigo_800:#253a87; 
--indigo_600:#2c3cba; 
--blue_gray_100_01:#d4d4d4; 
--deep_purple_500:#5841cf; 
--deep_orange_400_01:#ff7a52; 
--red_300:#ea726e; 
--red_500:#ff4131; 
--light_blue_400:#26a9e0; 
--gray_50:#f9fafd; 
--light_blue_800:#0071bc; 
--red_100:#f7cbca; 
--black_900_61:#00000061; 
--black_900:#000000; 
--deep_orange_400:#ff7557; 
--gray_700:#666666; 
--gray_500:#999999; 
--amber_600:#ffbb00; 
--gray_900:#2b1710; 
--indigo_300:#7a8fde; 
--indigo_100:#bfbfd9; 
--blue_200:#a5b8ff; 
--indigo_500:#403ec3; 
}